body {
    overflow-x: hidden;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Zorg ervoor dat de navbar boven andere elementen blijft */
    background-color: #242424;
    width: 100vw;
}
.dropdown-menu {
    background-color: gray; /* Jouw gewenste kleur */
}
.dropdown-menu :hover {
    background-color: rgb(84, 84, 84); /* Jouw gewenste kleur */
}
.container {
    background-color: #f2f2f2;
    margin-top: 100px;
    padding: 20px; /* Voeg wat padding toe om ruimte rond de tekst te creëren */
    border: 1px solid black; /* Voeg een rand toe om de vierkante vorm te benadrukken */
    border-radius: 10px; /* Maak de hoeken van de container afgerond */  
}

.Welkom{
    position: absolute;
    bottom: 465px;
    left: 50px;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
  
}

.footer{
    border: none;
    background-color: #242424;
}
.container2{
    margin-bottom: 100px;
}
.Foto{
    width: 100vw;
    height: auto;
    background-color: rgb(168, 168, 168);
}
.MijnFoto{
    height: 44vh;
    width: auto;
    margin-left: 27vw;
}
.MijnUnityFoto{
    height: 44vh;
    width: auto;
    margin-left: 33vw; 
}
.Unity1{
    margin-left: -100px; /* Pas de gewenste negatieve marge aan */

}

.Unity2{
    margin-left: -100px; /* Pas de gewenste negatieve marge aan */
    width: 56vw;
    height: auto;
}
.Web1{
    margin-left: -100px; /* Pas de gewenste negatieve marge aan */
    width: 56vw;
    height: auto;
}
.Web2{
    margin-left: -100px; /* Pas de gewenste negatieve marge aan */
    width: 56vw;
    height: auto;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.contactleft{
    margin-top: -350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-input{
    height: 400px;
    height: 50px;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(168, 168, 168);
    border-radius: 50px;
}
.contactleft textarea{
    height: 200px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-input :focus{
    border: 2px solid black;
}
.contactleft button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,white,black);
    cursor: pointer;
}