body {
    overflow-x: hidden;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Zorg ervoor dat de navbar boven andere elementen blijft */
    background-color: black;
    width: 100vw;
}
.dropdown-menu {
    background-color: gray; /* Jouw gewenste kleur */
}
.dropdown-menu :hover {
    background-color: rgb(84, 84, 84); /* Jouw gewenste kleur */
}
.container {
    margin-top: 100px;
    padding: 20px; /* Voeg wat padding toe om ruimte rond de tekst te creëren */
    border: 1px solid black; /* Voeg een rand toe om de vierkante vorm te benadrukken */
    border-radius: 10px; /* Maak de hoeken van de container afgerond */
}

.Welkom{
    position: absolute;
    bottom: 465px;
    left: 50px;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
  
}

.footer{
    border: none;
    background-color: black;
}
.container2{
    margin-bottom: 100px;
}
.Foto{
    width: 100vw;
    height: auto;
    background-color: rgb(168, 168, 168);
}
.MijnFoto{
    height: 44vh;
    width: auto;
    margin-left: 27vw;
}